node_modules
tmp
!.gitkeep

# Env files
**/.env
**/.env*.local

# Next.js
.next
out

# Package managers
# bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# Test files
**/coverage

# TypeScript
next-env.d.ts
*.tsbuildinfo
